@use "../../styles/partials/_typography" as *;
@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/global" as *;

.resourceList {
  margin: 0rem 0 0.5rem 0;
  padding: 0;
  border: none;
  box-shadow: none;
  &__wrapper {
    cursor: pointer;
  }
}
